* {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  color: #3c0404;
  background: url("/M6962Xw-7.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

strong {
  color: #fff;
  font-size: 1.1em;
  text-decoration: underline; }

.container-fluid {
  padding: 0; }

.container {
  padding: 1em 0; }

.wrapper {
  padding: 0 1em; }

h1, h2 {
  font-family: "Questrial", sans-serif; }

h2 {
  font-weight: 700; }

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1em;
  text-align: left; }
  header .name {
    display: inline; }
    header .name h1 {
      margin: 0 0.25em 0.25em 0;
      font-weight: 700;
      display: inline; }
    header .name h4 {
      margin: 0 1em 1em 0;
      display: inline; }
  header .social {
    display: inline;
    float: right;
    white-space: nowrap;
    position: relative;
    top: 0.25em; }
    header .social a {
      font-size: 1.5em;
      color: #3c0404;
      text-decoration: none;
      padding-right: 0.25em; }
      header .social a:hover {
        color: #923232; }

#intro {
  background: rgba(23, 65, 78, 0.5);
  text-align: center;
  padding: 1em;
  color: #f1ebeb; }
  #intro #avatar {
    margin: 1em 0;
    border-radius: 50%;
    max-width: 200px; }
  #intro .what-i-do {
    text-align: left;
    font-size: 1.3em;
    color: #f1ebeb; }

.work-samples {
  list-style-type: none; }
  .work-samples h2 {
    margin-bottom: 1em;
    color: #f1ebeb; }
  .work-samples .project {
    color: #f1ebeb;
    padding: 1em;
    border: 2px solid rgba(60, 4, 4, 0.56);
    margin: 1em 0;
    background-color: rgba(39, 12, 12, 0.25); }
    .work-samples .project .img-responsive {
      height: 290px;
      background-position: top;
      background-size: cover; }
    .work-samples .project .btn {
      border: none;
      border-radius: 0;
      font-size: 1.05em;
      font-weight: 300;
      display: block;
      /* Rounded corners */
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      /* future proofing */
      -khtml-border-radius: 10px;
      /* for old Konqueror browsers */ }
    .work-samples .project .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      border: #3c1a1a solid 2px;
      color: #000; }
      .work-samples .project .btn-github:hover {
        background-color: rgba(111, 69, 69, 0.25); }
    .work-samples .project .btn-site {
      background-color: transparent;
      border: #efe3e3 solid 2px; }
      .work-samples .project .btn-site:hover {
        background-color: rgba(197, 170, 170, 0.3);
        color: #f1ebeb; }

.contact {
  background-color: rgba(45, 2, 2, 0.5);
  padding: 1em 1em 3em 1em;
  color: #eae3e3;
  margin-top: 2em; }
  .contact .email {
    color: #81acff;
    font-size: 1.2em;
    font-weight: bold; }

/*** Load the images into their containers here. ***/
.img-1 {
  background-image: url("/content/ecommerce-wishlist-1.jpg"); }

.img-2 {
  background-image: url("/content/weather-app-2.jpg"); }

.img-3 {
  background-image: url("/content/image-organizer-1.jpg"); }

.img-4 {
  background-image: url("/content/local-movies-search-1.jpg"); }

.img-5 {
  background-image: url("/content/hospice-maui-1.jpg"); }

.img-6 {
  background-image: url("/content/rfl-1.jpg"); }

#hero-carousel {
  height: 500px;
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */ }
  #hero-carousel .carousel-caption {
    z-index: 10; }
  #hero-carousel .item {
    height: 500px;
    background-color: #777; }
  #hero-carousel .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px; }

#testimonial-carousel {
  height: 250px;
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */ }
  #testimonial-carousel .carousel-caption {
    z-index: 10; }
  #testimonial-carousel .item {
    height: 250px;
    background-color: red; }
  #testimonial-carousel .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 250px; }

@media (max-width: 750px) {
  h1 {
    font-size: 2.25em; }
  header .name h1 {
    display: block; }
  header .name h4 {
    display: block; }
  header .social {
    display: block;
    float: none;
    position: static; } }

@media (max-width: 500px) {
  h1 {
    font-size: 1.75em; }
  h2 {
    font-size: 1.75em; } }
