.container-fluid {
  padding: 0;
}

.container {
  padding: 1em 0;
}

.wrapper {
  padding: 0 0.5em;
}

h1, h2 {
  font-family: $font-1;
}

h2, h3 {
  font-weight: 500;
  color: $color-0;
}

header {
  width: 100%;
  background-color: $color-7;
  padding: 0.5em;
  text-align: left;
  
  .name {
    display: inline;
    
    h1 {
      margin: 0 0.25em 0.25em 0;
      font-weight: 300;
      display: inline;
    }
    
    h4 {
      margin: 0 1em 1em 0;
      display: inline;
    }
  }
  
  .social {
    display: inline;
    float: right;
    white-space: nowrap;
    position: relative;
    top: 0.5em;
    margin-left: 1em;
    
    a {
      font-size: 1.5em;
      color: $color-22;
      text-decoration: none;
      padding-right: 0.25em;
      
      &:hover {
        color: $color-8;
      }
    }
  }
  
  .other-site {
    color: $color-5;
    font-weight: bold;
    font-size: 1em;
    float: right;
    margin-top: 0.3em;
    position: relative;
    top: 0.25em;
    
    &:hover {
      color: $color-5;
      text-decoration: underline;
    }
  }
}

#intro {
  background: $color-10;
  background-image: url('/new-code-4.jpg');
  background-position: left center;
  background-size: cover;
  text-align: left;
  padding: 0 0.5em;
  color: $color-3;
  position: relative;
  
  h2 {
    text-align: center;
    color: $color-3;
    font-weight: 700;
  }
  
  #enterprise-app {
    max-width: 100%;
  }
  
  hr {
    margin-left: auto;
    margin-right: auto;
  }
  
  #avatar {
    margin: 1em 0;
    border-radius: 50%;
    max-width: 200px;
  }
  
  .what-i-do {
    text-align: center;
    font-size: 1.3em;
    color: $color-3;
    padding: 5em 0;
    
    #blurb {
      text-align: left;
      font-size: 0.8em;
    }
    
    .btn-cta {
      @include button-general
      
      border: none;
      font-weight: 300;
      color: $color-3;
      margin: 1em 0;
      font-size: 0.75em;
      background-color: $color-25;
      outline: none;
      
      &:hover {
        background-color: $color-26;
      }
    }
  }
}

#services {
  padding: 0.5em 1em;
  background-color: $color-13;
  color: $color-0;
  
  h2 {
    margin-bottom: 1em;
  }
  
  .row {
    margin-bottom: 1em;
    
    .service-item-container {
      padding: 0 0.5em;
      
      .service-item {
        text-align: left;
        margin-bottom: 0.5em;
        padding: 1em 0.5em;
        background: $color-3;
        box-shadow: 0 0.2em 0.2em $color-12; /* TODO: Abstract this. */
        height: 100%;
        color: $color-0;
        
        @include round-corners;
        
        h3 {
          text-align: center;
          color: $color-0;
        }
        
        hr { /* TODO: Abstract this. */
          margin: 1em auto;
          border: 1px solid $color-12;
        }
        
        .img-container {
          height: 6em;
          width: 6em;
          text-align: center;
          border: 3px $color-6 solid;
          padding: 1.5em;
          border-radius: 50%;
          margin: 0 auto;
          
          .icon {
            max-width: 50px;
            max-height: 50px;
            margin: 0 auto;
            opacity: 0.7;
            
            &:hover {
              opacity: 1;
            }
          } 
        }
      }
    }
  }
}

#testimonials {
  background: $color-7;
  padding: 0.5em;
  
  .reference {
    margin: 0 auto;
    border-radius: 50%;
    width: 125px;
  }
  
  #testimonials-carousel {
    padding: 0;
    margin-top: 1em;
    
    .carousel-caption {
      color: $color-0;
      position: static;
      padding: 0;
      text-shadow: none;
      
      .testimonial-text {
        margin-top: 0.5em;
      }
      
      hr {
        border-color: $color-0;
        margin: 0.5em auto;
        width: 2em;
      }
      
      h4 {
        margin-top: 0.5em;
      }
    }
    
    .carousel-control {
      color: $color-22;
      background-image: none;
      width: 5%;
      text-shadow: none;
      
      .glyphicon-chevron-left, .glyphicon-chevron-right {
        top: 30%;
      }
      
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

/* Override bootstrap styles. */
.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
  background-color: $color-13;
  padding: 0.25em 0.35em;
  border-radius: 50%;
  color: $color-7;
}

.work-samples {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  
  .show-more {
    position: absolute;
		bottom: 0; left: 0;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 3em 0 2em 0;
		
    background-image: linear-gradient(180deg, transparent, rgba(52, 61, 69, 0.6), rgba(20, 24, 27, 0.9));
    
    .button {
      @include button-general;
      
      moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 2em;
      -khtml-border-radius: 2em;
      
      color: $color-22;
      background-color: $color-23;
      opacity: 0.8;
      font-weight: 700;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
  h2 {
    margin-bottom: 1em;
    color: $color-0;
  }
  
  .project {
    color: $color-3;
    padding: 0.5em;
    margin: 1em 0;
    background-color: $color-20;
    box-shadow: 0 0.2em 0.2em $color-12;
    
    @include round-corners;
    
    h3 {
      color: $color-3;
    }
    
    hr {
      margin: 1.5em auto;
    }
    
    .img-responsive {
      height: 290px;
      background-position: top;
      background-size: cover;
      border: 2px solid $color-22;
      
      @include round-corners;
    }
    
    .btn {
      @include button-general
      
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      display: block;
    }
    
    .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      border: $color-23 solid 1px;
      color: $color-23;
      
      &:hover {
        background-color: $color-23;
        color: $color-22;
      }
    }
    
    .btn-site {
      background-color: transparent;
      border: $color-3 solid 1px;
      margin-bottom: 0.5em;
      
      &:hover {
        background-color: $color-3;
        color: $color-22;
      }
    }
  }
}

.contact {
    background-color: $color-10;
    padding: 0.5em 0.5em 2em 0.5em;
    color: $color-3;
  
  h2 {
    color: $color-3;
  }
  
  #portrait {
    margin: 0 auto;
    border-radius: 50%;
    width: 160px;
  }
  
  .email {
    color: $color-5;
    font-size: 1.2em;
    font-weight: bold;
  }
}

/*** Load the images into their containers here. ***/
.img-1 {
  background-image: url('/content/development/ecommerce-wishlist-1.jpg');
}

.img-2 {
  background-image: url('/content/development/weather-app-2.jpg');
}

.img-3 {
  background-image: url('/content/development/image-organizer-1.jpg');
}

.img-4 {
  background-image: url('/content/development/local-movies-search-1.jpg');
}

.img-5 {
  background-image: url('/content/development/hospice-maui-1.jpg');
}

.img-6 {
  background-image: url('/content/development/rfl-1.jpg');
}

@media (max-width: 950px) {
  h1 {
    font-size: 2.25em;
  }
  
  header {
    .name {
      h1 {
        display: block;
      }
      
      h4 {
        display: block;
      }
    }
    
    .other-site {
      display: block;
      float: none;
    }
    
    .social {
      display: block;
      float: none;
      position: static;
      margin-left: 0;
    }
  }
  
  #intro {
    padding: 3em 1em;
    
    .what-i-do {
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.75em;
  }
  
  #intro {
    padding: 1em;
    
    .what-i-do {
      padding: 0;
    }
  }
}