.container-fluid {
  padding: 0;
}

.container {
  padding: 1em 0;
}

.wrapper {
  padding: 0 0.5em;
}

h1, h2 {
  font-family: $font-1;
}

h2, h3 {
  font-weight: 500;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  text-align: left;
  
  .name {
    display: inline;
    
    h1 {
      margin: 0 0.25em 0.25em 0;
      font-weight: 300;
      display: inline;
    }
    
    h4 {
      margin: 0 1em 1em 0;
      display: inline;
    }
  }
  
  .social {
    display: inline;
    float: right;
    white-space: nowrap;
    position: relative;
    top: 0.25em;
    
    a {
      font-size: 1.5em;
      color: $color-1;
      text-decoration: none;
      padding-right: 0.25em;
      
      &:hover {
        color: #923232;
      }
    }
  }
}

#intro {
  background: rgba(39, 39, 39, 0.8);
  text-align: left;
  padding: 5em 0.5em;
  color: $color-3;
  
  h2 {
    text-align: left;
  }
  
  #avatar {
    margin: 1em 0;
    border-radius: 50%;
    max-width: 200px;
  }
  
  .what-i-do {
    text-align: center;
    font-size: 1.3em;
    color: $color-3;
    
    #blurb {
      text-align: left;
      font-size: 0.8em;
    }
  }
}

#testimonials {
  background: rgba(193, 193, 193, 0.9);
  padding: 0.5em;
  
  .reference {
    margin: 1em auto;
    border-radius: 50%;
    width: 150px;
  }
  
  #testimonials-carousel {
    .carousel-caption {
      color: $color-1;
    }
    
    .carousel-control {
      background-image: none;
    }
  }
}

#services {
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5em;
}

.work-samples {
  list-style-type: none;
  
  h2 {
    margin-bottom: 1em;
    color: rgba(21, 20, 20, 1);
  }
  
  .project {
    color: $color-3;
    padding: 0.5em;
    margin: 1em 0;
    background-color: rgba(51, 45, 45, 0.75);
    box-shadow: 0 0.2em 0.2em rgba(51, 45, 45, 0.5);
    
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em; /* future proofing */
    -khtml-border-radius: 0.2em; /* for old Konqueror browsers */
    
    hr {
      margin: 1.5em auto;
    }
    
    .img-responsive {
      height: 290px;
      background-position: top;
      background-size: cover;
      border: 2px solid rgb(56, 56, 56);
      
      /* Rounded corners */
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      border-radius: 0.2em; /* future proofing */
      -khtml-border-radius: 0.2em; /* for old Konqueror browsers */
    }
    
    .btn {
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      display: block;
      
      /* Rounded corners */
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      border-radius: 0.2em; /* future proofing */
      -khtml-border-radius: 0.2em; /* for old Konqueror browsers */
    }
    
    .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      border: #9dffeb solid 1px;
      color: #9dffeb;
      
      &:hover {
        background-color: #9dffeb;
        color: $color-1;
      }
    }
    
    .btn-site {
      background-color: transparent;
      border: #efe3e3 solid 1px;
      
      &:hover {
        background-color: #fff;
        color: $color-1;
      }
    }
  }
}

.contact {
    background-color: rgba(39, 39, 39, 0.8);
    padding: 0.5em 0.5em 2em 0.5em;
    color: $color-3;
    margin-top: 2em;
  
  .email {
    color: rgb(129, 172, 255);
    font-size: 1.2em;
    font-weight: bold;
  }
}

/*** Load the images into their containers here. ***/
.img-1 {
  background-image: url('/content/development/ecommerce-wishlist-1.jpg');
}

.img-2 {
  background-image: url('/content/development/weather-app-2.jpg');
}

.img-3 {
  background-image: url('/content/development/image-organizer-1.jpg');
}

.img-4 {
  background-image: url('/content/development/local-movies-search-1.jpg');
}

.img-5 {
  background-image: url('/content/development/hospice-maui-1.jpg');
}

.img-6 {
  background-image: url('/content/development/rfl-1.jpg');
}