$font-1: 'Questrial', sans-serif;
$font-2: 'Lato', sans-serif;

$color-0: #130101; // Dark-black
$color-1: #3c0404; // Black
$color-2: #612323; // Black-red (Off-black)
$color-3: #fff;    // White
$color-4: #562c2c; // Dark red
$color-5: #81acff; // Blue
$color-6: #0a82a7; // Teal-blue

@mixin round-corners {
  /* Rounded corners */
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em; /* future proofing */
  -khtml-border-radius: 0.2em; /* for old Konqueror browsers */
}

@mixin button-general {
  /* Rounded corners */
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; /* future proofing */
  -khtml-border-radius: 1em; /* for old Konqueror browsers */
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: $font-2;
  line-height: 1.5em;
  color: $color-1;
  background-color: #74a5c8;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  
  background: -webkit-linear-gradient(left, #4c6a98 0%, #b2deff 44%, #4c6a98 100%);
  background: -o-linear-gradient(left, #4c6a98 0%, #b2deff 44%, #4c6a98 100%);
  background: -ms-linear-gradient(left, #4c6a98 0%, #b2deff 44%, #4c6a98 100%);
  background: -moz-linear-gradient(left, #4c6a98 0%, #b2deff 44%, #4c6a98 100%);
  background: linear-gradient(left, #4c6a98 0%, #b2deff 44%, #4c6a98 100%);
}

strong {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: underline;
}

b {
  font-weight: 500;
}

hr {
  width: 20%;
}

.btn {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em; /* future proofing */
  -khtml-border-radius: 2em; /* for old Konqueror browsers */
}

@import "development";
@import "art";
